{% extends "base.html" %}
{% block content %}

<!-- MAIN -->
<main class="main">

  <header class="header">
    <h2>Dashboard Overview</h2>
    <div class="avatar">REPORT TEAM</div>
  </header>

  <!-- KPI -->
  <div class="kpi-grid">
    <div class="kpi-card">
      <p>Automations Run</p>
      <h2>120</h2>
    </div>

    <div class="kpi-card">
      <p>Success Rate</p>
      <h2>98%</h2>
    </div>

    <div class="kpi-card">
      <p>Active APIs</p>
      <h2>5</h2>
    </div>
  </div>

  <!-- FEATURES -->
  <div class="feature-grid">

    <div class="feature-card">
      <i class="fas fa-file-upload"></i>
      <a href="D:\hulesh\HTML\main.html" style="text-decoration: none;" rel="reports">
        <h3>Reports</h3>
        <!-- <p>Upload PDF, Excel & Images</p> -->
      </a>
    </div>

    <div class="feature-card">
      <i class="fas fa-robot"></i>
      <h3>AI Processing</h3>
      <p>Convert documents to XML</p>
    </div>

    <div class="feature-card">
      <i class="fas fa-chart-line"></i>
      <h3>Analytics</h3>
      <p>View reports & insights</p>
    </div>

  </div>

  <!-- IMAGE SECTION -->

  <div class="image-section">

    <div class="image-card">
      <img src="https://images.unsplash.com/photo-1551288049-bebda4e38f71">
      <p>Analytics Dashboard</p>
    </div>

    <div class="image-card">
      <img src="https://images.unsplash.com/photo-1581090700227-1e8f7d7c3c8c">
      <p>File Automation</p>
    </div>

    <div class="image-card">
      <img src="https://images.unsplash.com/photo-1518770660439-4636190af475">
      <p>AI Processing</p>
    </div>

  </div>

</main>


{% endblock %}