<!DOCTYPE html>
<html>
<head>
    <title>Upload Sample File</title>
</head>
<body>
    <h2>Upload Sample File</h2>

    <form action="/jasper/upload-sample" method="post" enctype="multipart/form-data">
        
        <label for="reportname">Report Name:</label><br>
        <input id="reportname" name="reportname" placeholder="Report Name" required><br><br>

        <label for="samplefile">File:</label><br>
        <input id="samplefile" type="file" name="samplefile" required><br><br>

        <button type="submit">Upload</button>

    </form>

</body>
</html>